# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc


# Ollama & model folders
ollama_models/
ollama_marketing_models_new/
intent_detection_model/
llm_complex_path/gemma_banking_model/

# OS
.DS_Store
Thumbs.db