# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc


# Large ML files
*.safetensors
*.gguf
*.index
*.pkl

# Ollama & model folders
ollama_models/
ollama_marketing_models_new/
intent_detection_model/
llm_complex_path/gemma_banking_model/

# OS
.DS_Store
Thumbs.db

INTEGRATION_SUMMARY.md

frontend/README.md

# React / Node
node_modules/
dist/
build/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/